<a href="https://colab.research.google.com/github/jessenb16/Data-Science-Bootcamp-Homework/blob/main/Bootcamp_Hw_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
#Define two custom numpy arrays, say A and B. Generate two new numpy arrays by stacking A and B vertically and horizontally.
#Find common elements between A and B. [Hint : Intersection of two sets]
#Extract all numbers from A which are within a specific range. eg between 5 and 10. [Hint: np.where() might be useful or boolean masks]
#Filter the rows of iris_2d that has petallength (3rd column) > 1.5 and sepallength (1st column) < 5.0

import numpy as np
"""
A = np.array([1,2,3,4,7])
B = np.array([4,5,6,4,5])
C = np.vstack((A,B))
D = np.hstack((A,B))
print(C)
print(D)
print("")
set_A = set(A)
set_B = set(B)
common_elements = set_A.intersection(set_B)

print(common_elements)
print("")

mask = (A >= 3) & (A <= 5)
result = A[mask]

print(result)
print("")

url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'

iris_2d = np.genfromtxt(url, delimiter=',', dtype='float', usecols=[0,1,2,3])

filtered_rows = iris_2d[(iris_2d[:, 2] > 1.5) & (iris_2d[:, 0] < 5.0)]
print("Filtered rows:")
print(filtered_rows)
"""

import pandas as pd

#From df filter the 'Manufacturer', 'Model' and 'Type' for every 20th row starting from 1st (row 0).
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
f_data = df.iloc[::20, [0,1,2]]
print(f_data)

#Replace missing values in Min.Price and Max.Price columns with their respective mean.
df.info()


#How to get the rows of a dataframe with row sum > 100?
df2 = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))

sum_rows = df2[df2.sum(axis=1) > 100]

print("Rows with row sum > 100:")
print(sum_rows)

   Manufacturer    Model     Type
0         Acura  Integra    Small
20     Chrysler  LeBaron  Compact
40        Honda  Prelude   Sporty
60      Mercury   Cougar  Midsize
80       Subaru   Loyale    Small
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Manufacturer        89 non-null     object
 1   Model               92 non-null     object
 2   Type                90 non-null     object
 3   Min.Price           86 non-null     float64
 4   Price               91 non-null     float64
 5   Max.Price           88 non-null     float64
 6   MPG.city            84 non-null     float64
 7   MPG.highway         91 non-null     float64
 8   AirBags             87 non-null     object
 9   DriveTrain          86 non-null     object
 10  Cylinders           88 non-null     object
 11  EngineSize          91 non-null     float64
 12  Horsepower          86 non-null     float64
 13  RPM                 90 non-null     float64
 14  Rev.per.mile        87 non-null     float64
 15  Man.trans.avail     88 non-null     object
 16  Fuel.tank.capacity  85 non-null     float64
 17  Passengers          91 non-null     float64
 18  Length              89 non-null     float64
 19  Wheelbase           92 non-null     float64
 20  Width               87 non-null     float64
 21  Turn.circle         88 non-null     float64
 22  Rear.seat.room      89 non-null     float64
 23  Luggage.room        74 non-null     float64
 24  Weight              86 non-null     float64
 25  Origin              88 non-null     object
 26  Make                90 non-null     object
dtypes: float64(18), object(9)
memory usage: 19.7+ KB
Rows with row sum > 100:
     0   1   2   3
0   26  39  26  30
1   36  27  33  24
4   21  39  22  37
6   33  39  18  32
9   31  31  17  23
12  13  31  39  22
13  28  33  28  22